<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <div>
        <!--h2 class="list-group-item-heading pull-left">{{ contact.name }}</h2-->
        <span class="pull-left">
            <img [src]="contact.imageUrl" alt="{{ contact.imageUrl }}" class="img-responsive" style="max-height: 100px;">
        </span>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h1>{{ contact.name }}</h1>
            </div>
        </div>
        <div class="pull-right">
        <button class="btn btn-primary" [routerLink]="['edit']">Edit</button>
        <button class="btn btn-warning" (click)="onDelete()">Delete</button>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                    <div class="pull-left">
                        <p>Email: {{ contact.email }}</p>
                        <p>Phone: {{ contact.phone }}</p>
                    </div>
            </div>
        </div>
    </div>
</div>
